<script>
    import {secondsToTimecode} from '../utils.js';
    import SkipBanner from './SkipBanner.svelte';
    import TextBanner from './TextBanner.svelte';
    import PhotoBanner from './PhotoBanner.svelte';
    import PhotoTextBanner from './PhotoTextBanner.svelte';
    import ButtonTextBanner from './ButtonTextBanner.svelte';
    import CombinedBanner from './CombinedBanner.svelte';
    import sequence, {DEFAULT_DURATION} from '../sequence.js';

    export let playerWidth;
    export let currentTime;
    export let episode;
    export let myPlayer;
    export let containerRef;
    let showingStart, showingDuration, activity;

    const forwardEvent = (event) => {
        const newEvent = event.touches
            ? new TouchEvent(event.type, event)
            : new MouseEvent(event.type, event);
        const player = containerRef.querySelector(".vjs-player");
        if (player) player.dispatchEvent(newEvent);
    };

    $: if (!activity) {
        activity = sequence[episode].activeElements[secondsToTimecode(currentTime)];
        if (activity) {
            // console.log(activity)
            showingStart = currentTime;
            showingDuration = activity.duration||DEFAULT_DURATION;
        }
    }
    $: if (activity) {
        if (currentTime < showingStart || currentTime > showingStart + showingDuration) {
            showingStart = null;
            showingDuration = null;
            activity = null;
        }
    }

    const activeElements = {
        skip: SkipBanner,
        text: TextBanner,
        photo: PhotoBanner,
        photoText: PhotoTextBanner,
        buttonText: ButtonTextBanner,
        combined: CombinedBanner,
    }

    const handleClick = () => {
        if (myPlayer.paused()) myPlayer.play(); 
        else myPlayer.pause(); 
    }
</script>

<div 
    class='overlay' 
    on:click={handleClick}
    on:mousedown={forwardEvent}
    on:mouseup={forwardEvent}
    on:touchstart={forwardEvent}
    on:touchend={forwardEvent}
    on:mousemove={forwardEvent}
    >
    {#if activity}
        <svelte:component 
            this={activeElements[activity.type]}
            {myPlayer}
            {playerWidth}
            {...activity}
        />
    {/if}
</div>

<style>
    .overlay {
        position: absolute;
        left: 0;
        width: 100%;
        padding-top: 41.7%;
        overflow: hidden;
    }
</style>