<script>
    import {fly} from 'svelte/transition'
    import {BASE_URL} from '../utils.js';
    export let myPlayer;
    export let playerWidth;
    export let href;
    export let text;
    export let button;

    const handleClick = () => {
        myPlayer.pause();
        if (!href) return;
        window.open(href, '_blank');
    }
</script>

<div 
    class="banner" 
    in:fly|local={{ x: playerWidth, duration: 500 }}
    out:fly|local={{ x: playerWidth*0.5, duration: 1000 }}
    style={`
    background-image: url("${BASE_URL}/images/background.png");
    top: ${0.02*playerWidth}px; 
    right: ${0.02*playerWidth}px;
    width:  ${0.3*playerWidth}px;
    padding: ${0.01*playerWidth}px; 
    border-radius: ${0.01*playerWidth}px;
    font-size: ${0.015*playerWidth}px;
`}>
    
    {text}
    <span style={`margin-top:${0.015*playerWidth}px`}>
        <button 
            on:click|stopPropagation={handleClick}
            style={`
            font-size: ${0.015*playerWidth}px;
            padding: ${0.01*playerWidth}px ${0.02*playerWidth}px;          
            `}
        >
            {button}
        </button>
    </span>
</div>

<style>
    div.banner {
        position: absolute;
        color: #212121;
    }
    span {
        display: block;
        width:100%;
        text-align: right;
    }

    button {
        background-color: #EE3124;
        color: white;
        border-radius: 2rem;
        border-style: none;
        outline: none;
        cursor: pointer;
    }
</style>