<script>
    import {fly} from 'svelte/transition'
    import {BASE_URL} from '../utils';
    export let myPlayer;
    export let playerWidth;
    export let image;
    export let href;
    export let text;
    export let button;

    const handleClick = () => {
        myPlayer.pause();
        if (!href) return;
        window.open(href, '_blank');
    }
</script>

<div 
    class="banner" 
    in:fly|local={{ x: playerWidth, duration: 500 }}
    out:fly|local={{ x: playerWidth*0.5, duration: 1000 }}
    style={`
    background-image: url("${BASE_URL}/images/background.png");
    top: ${0.02*playerWidth}px; 
    right: ${0.02*playerWidth}px;
    width:  ${0.3*playerWidth}px;
    height: ${0.12*playerWidth}px;
    border-radius: ${0.01*playerWidth}px;
    padding: ${0.015*playerWidth}px;
`}>
    <div class='header'>
        <img 
            src={`${BASE_URL}/images/${image}.png`} 
            alt={text} 
            style={`
            border-radius: ${0.01*playerWidth}px; 
            height: ${0.05*playerWidth}px;`
        }/>
        <span style={`font-size: ${0.015*playerWidth}px;`}>{text}</span>
    </div>
        
    <div class="button" style={`margin-top:${0.005*playerWidth}px`}>
        <button 
            on:click|stopPropagation={handleClick}
            style={`
            font-size: ${0.015*playerWidth}px;
            padding: ${0.01*playerWidth}px ${0.02*playerWidth}px;        

        `}>
            {button}
        </button>
    </div>
</div>

<style>
    span {
        padding-left: 1rem;
        padding-top: .5rem;
    }
    div.banner {
        background-size: cover;
        background-position: center center;
        box-sizing: border-box;

        position: absolute;
        display: flex;
        flex-basis: auto;
        flex-direction: column;
        justify-content: space-between;
    }
    div.header {
        box-sizing: border-box;
        width: 100%;
        color: #212121;

        display: flex;
        align-items: start;
    }
    div.button {
        display: block;
        width:100%;
        text-align: right;
    }
    button {
        background-color: #EE3124;
        color: white;
        border-radius: 2rem;
        border-style: none;
        outline: none;
        cursor: pointer;
    }
</style>