<script>
  import {BASE_URL} from '../utils';
</script>

<svelte:head>
  <link
    href="//amp.azure.net/libs/amp/latest/skins/amp-default/azuremediaplayer.min.css"
    rel="stylesheet" />
  <script src="//amp.azure.net/libs/amp/latest/azuremediaplayer.min.js">
  </script>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap"
    rel="stylesheet" />

    <link rel="preload" href={`${BASE_URL}/images/background.png`} as="image" />
    <link rel="preload" href={`${BASE_URL}/images/p01.png`} as="image" />
    <link rel="preload" href={`${BASE_URL}/images/p02.png`} as="image" />
    <link rel="preload" href={`${BASE_URL}/images/p03.png`} as="image" />
    <link rel="preload" href={`${BASE_URL}/images/p04.png`} as="image" />
    <link rel="preload" href={`${BASE_URL}/images/p05.png`} as="image" />
    <link rel="preload" href={`${BASE_URL}/images/p06.png`} as="image" />
    <link rel="preload" href={`${BASE_URL}/images/p07.png`} as="image" />
    <link rel="preload" href={`${BASE_URL}/images/p08.png`} as="image" />
    <link rel="preload" href={`${BASE_URL}/images/p09.png`} as="image" />
    <link rel="preload" href={`${BASE_URL}/images/p10.png`} as="image" />
    <link rel="preload" href={`${BASE_URL}/images/p11.png`} as="image" />
    <link rel="preload" href={`${BASE_URL}/images/p12.png`} as="image" />
    <link rel="preload" href={`${BASE_URL}/images/p13.png`} as="image" />
</svelte:head>