<script>
    import {fly} from 'svelte/transition'
    import {BASE_URL} from '../utils';
    export let myPlayer;
    export let playerWidth;
    export let image;
    export let href;
    export let text;
    let ih;

    const handleClick = () => {
        myPlayer.pause();
        if (!href) return;
        window.open(href, '_blank');
    }
</script>

<div 
    class="banner" 
    in:fly|local={{ x: playerWidth, duration: 500 }}
    out:fly|local={{ x: playerWidth*0.5, duration: 1000 }}
    on:click|stopPropagation={handleClick}
    style={`
    background-image: url("${BASE_URL}/images/${image}.png");
    top: ${0.02*playerWidth}px; 
    right: ${0.02*playerWidth}px;
    width:  ${0.3*playerWidth}px;
    height: ${0.25*playerWidth}px;
    border-radius: ${0.01*playerWidth}px;
`}>
    <div class="image" bind:clientHeight={ih} style={`
        border-radius: ${0.01*playerWidth}px ${0.01*playerWidth}px 0 0;
    `}>
        <img src={`${BASE_URL}/images/${image}.png`} alt={text} style={`height: ${ih}px`}/>
    </div>
    <div 
        class="footer"
        style={`
        background-image: url("${BASE_URL}/images/background.png");
        font-size: ${0.015*playerWidth}px;
        border-radius: 0 0 ${0.01*playerWidth}px ${0.01*playerWidth}px;
        padding: ${0.01*playerWidth}px;
    `}>
        {text}
    </div>
</div>

<style>
    div.image {
        overflow: hidden;
        text-align: center;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
    }
    div.banner {
        background-size: cover;
        background-position: center center;

        position: absolute;
        display: flex;
        flex-basis: auto;
        flex-direction: column;
        justify-content: space-between;

        cursor: pointer;
    }
    div.footer {
        box-sizing: border-box;
        width: 100%;
        color: #212121;
        flex-shrink: 1;
    }
</style>