<script>
    import {fly} from 'svelte/transition'
    import {BASE_URL} from '../utils';
    export let myPlayer;
    export let playerWidth;
    export let image;
    export let href;
    export let title;

    const handleClick = () => {
        myPlayer.pause();
        if (!href) return;
        window.open(href, '_blank');
    }
</script>

<div 
    class="banner" 
    in:fly|local={{ x: playerWidth, duration: 500 }}
    out:fly|local={{ x: playerWidth*0.5, duration: 1000 }}
    on:click|stopPropagation={handleClick}
    style={`
    top: ${0.02*playerWidth}px; 
    right: ${0.02*playerWidth}px;
    width:  ${0.2*playerWidth}px;
    border-radius: ${0.01*playerWidth}px;
`}>
    <img 
        src={`${BASE_URL}/images/${image}.png`} 
        alt={title}
        style={`border-radius: ${0.01*playerWidth}px;`}
    />
</div>

<style>
    div.banner {
        position: absolute;
        cursor: pointer;
    }
    img {
        max-width: 100%;
    }
</style>