<script>
    import {fly} from 'svelte/transition'
    export let myPlayer;
    export let playerWidth;
    import {timecodeToSeconds, BASE_URL} from '../utils.js';
    export let targetTime;

    const handleClick = () => {
        myPlayer.currentTime(timecodeToSeconds(targetTime))
    };
</script>

<div 
    class="banner" 
    in:fly|local={{ x: playerWidth, duration: 500 }}
    out:fly|local={{ x: playerWidth*0.5, duration: 1000 }}
    style={`
    background-image: url("${BASE_URL}/images/background.png");
    top: ${0.02*playerWidth}px; 
    right: ${0.02*playerWidth}px;
    width:  ${0.3*playerWidth}px;
    padding: ${0.02*playerWidth}px; 
    border-radius: ${0.01*playerWidth}px;
`}>
    <button
        on:click|stopPropagation={handleClick}
        style={`
        font-size: ${0.015*playerWidth}px;
        padding: ${0.01*playerWidth}px;
        `}
    >
        Перейти к следующей новелле
    </button>
</div>

<style>
    div.banner {
        position: absolute;
    }
    button {
        width: 100%;
        margin: 0;
        font-family: Rubik, sans-serif;
        border-radius: 2rem;
        background-color: #2D2D2D;
        color: white;
        border-style: none;
        outline: none;
        cursor: pointer;
    }
</style>