<script>
    import {fly} from 'svelte/transition'
    import {BASE_URL} from '../utils.js';
    export let playerWidth;
    export let myPlayer;
    export let text;
    export let href;

    const handleClick = () => {
        myPlayer.pause();
        if (!href) return;
        window.open(href, '_blank');
    }
</script>

<div 
    class="banner" 
    in:fly|local={{ x: playerWidth, duration: 500 }}
    out:fly|local={{ x: playerWidth*0.5, duration: 1000 }}
    on:click|stopPropagation={handleClick}
    style={`
        background-image: url("${BASE_URL}/images/background.png");
        top: ${0.02*playerWidth}px; 
        right: ${0.02*playerWidth}px;
        width:  ${0.3*playerWidth}px;
        padding: ${0.02*playerWidth}px; 
        border-radius: ${0.01*playerWidth}px;
        font-size: ${0.015*playerWidth}px;
        cursor: ${href ? 'pointer' : 'default'};
        `}>
    {text}
</div>

<style>
    div.banner {
        position: absolute;
        color: #212121;
    }
</style>