<script>
  import Header from "./components/Header.svelte";
  import ActiveElements from "./components/ActiveElements.svelte";
  import sequence from "./sequence.js";
  import {timecodeToSeconds, isIos, isDev, parseQueryString} from "./utils.js";
  import "fullscreen-api-polyfill";
  import { onMount } from "svelte";

  let myPlayer;
  let currentTime = 0;
  let episode = 1;
  let containerRef;
  let isFullScreenIos = false;
  let isFullScreen = false;
  let playerWidth;

  const onTimeUpdate = () => {
    currentTime = myPlayer.currentTime();
  };
  const forwardEvent = (event) => {
    const newEvent = event.touches
      ? new TouchEvent(event.type, event)
      : new MouseEvent(event.type, event);
      containerRef.querySelector(".vjs-slider").dispatchEvent(newEvent);
  };
  const onCanplaythrough = () => {
    const element = containerRef.querySelector(".vjs-fullscreen-control");
    const clone = element.cloneNode(true);
    element.parentNode.replaceChild(clone, element);
    ['.vjs-current-time', '.vjs-time-divider', '.vjs-duration'].forEach(selector=>{
      ['mousedown', 'mouseup', 'touchstart', 'touchmove', 'touchend', 'mousemove', 'click'].forEach(event=>{
        containerRef.querySelector(selector).addEventListener(event, forwardEvent)
      })
    })
  };

  const init = () => {
    if (!window.amp) {
      return setTimeout(init, 10);
    }
    myPlayer = window.amp(
      "elkiplayer",
      {
        nativeControlsForTouch: false,
        autoplay: false,
        // muted: true,
        controls: true,
        fluid: true,
        width: "640",
        logo: { enabled: false },
      },
      function () {
        this.removeEventListener("timeupdate", onTimeUpdate);
        this.addEventListener("timeupdate", onTimeUpdate);
        this.removeEventListener("canplaythrough", onCanplaythrough);
        this.addEventListener("canplaythrough", onCanplaythrough);
      }
    );
    myPlayer.src([
      {
        src: sequence[episode].src,
        type: "application/vnd.ms-sstr+xml",
      },
    ]);
  };
  init();

  const onFullScreen = (event) => {
    if (
      event.target.classList.contains("vjs-fullscreen-control") ||
      event.target.parentElement.classList.contains("vjs-fullscreen-control")
    ) {
      if (isIos()) {
        isFullScreenIos = !isFullScreenIos;
        return;
      }
      if (
        document.fullscreenElement ||
        document.webkitCurrentFullScreenElement
      ) {
        isFullScreen = false;
        document.exitFullscreen();
      } else {
        isFullScreen = true;
        containerRef.requestFullscreen();
      }
    }
  };
  const onExitFullScreen = () => {
    isFullScreen =
      document.fullscreenElement || document.webkitCurrentFullScreenElement;
  };

  onMount(() => {
    episode = parseQueryString() || 1;
    containerRef.addEventListener("click", onFullScreen, true);
    document.addEventListener("fullscreenchange", onExitFullScreen);
    document.addEventListener("webkitfullscreenchange", onExitFullScreen);
    return () => {
      containerRef.removeEventListener("click", onFullScreen);
      document.removeEventListener("fullscreenchange", onExitFullScreen);
      document.removeEventListener("webkitfullscreenchange", onExitFullScreen);
    };
  });
  // контрольные точки для дебага
  $: points = Object.keys(sequence[episode].activeElements).map((key) =>
    timecodeToSeconds(key)
  );
  $: nextPoint = points.find((point) => point > currentTime);
</script>

<Header />

{#if isDev()}
<button on:click={() => myPlayer.currentTime(nextPoint)}>
  Перемотать на следующую активность (кнопка для дебага)
</button> 
{/if}

<div
  class="container"
  bind:this={containerRef}
  class:isFullScreen
  class:isFullScreenIos
  class:isIos={isIos()}>
  <div class="overlay" bind:clientWidth={playerWidth}>
    <!-- svelte-ignore a11y-media-has-caption -->
    <video
      id="elkiplayer"
      class="azuremediaplayer amp-default-skin"
      playsinline />
    <ActiveElements {currentTime} {episode} {myPlayer} {playerWidth} {containerRef}/>
  </div>
</div>

<style>
  .container {
    font-family: "Rubik", sans-serif;
    position: relative;
  }
  .overlay {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container :global(.azuremediaplayer .vjs-big-play-button) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container :global(video),
  .container :global(.azuremediaplayer) {
    outline: none;
  }
  .container :global(.vjs-loading-spinner) {
    opacity: 0;
  }
  .isFullScreen {
    max-width: 100%;
    width: 100vw;
    background: black;
  }
  .isFullScreen :global(.vjs-control-bar), .isFullScreenIos :global(.vjs-control-bar)  {
    position: fixed;
    bottom: 0;
    z-index: 109;
  }
  .isIos :global(.vjs-captions-button) {
    display: none;
  }
  @media screen and (orientation: landscape) {
    .isIos.isFullScreen :global(.vjs-control-bar) {
      position: absolute;
    }
  }
  @media screen and (orientation: portrait) {
    .isFullScreenIos {
      z-index: 99;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: black;
      max-width: 100vw;
    }
  }
  @media screen and (orientation: landscape) {
    .container.isIos :global(.vjs-fullscreen-control) {
      display: none;
    }
  }
</style>
